.left-container .presentation img{
    width:4rem;
    height: 4rem;
    border: 2px solid white;
    border-radius: 40px;
}

.left-container{
    background-color: #1D204B;
    border-radius: 11px;
    width: 12rem;
}
.left-container .presentation{
    background-color: #5746EA;
    padding: 1.2rem;
    color: white;
    border-radius: 11px;
}
.left-container .presentation .text{
    font-weight:lighter;
}
.left-container .presentation #report{
    color: #8e83ff;
}
.left-container .period{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #7173AE;
    font-size: 0.5rem;
}
.left-container .period :hover{
    color: white;
    cursor: pointer;
}