.container h3{
    color: #25C4F4;
    font-size: 1rem;
}
.container .title{
    font-size: xxx-large;
    font-family: sans-serif;
    font-weight: bold;
}
.container .para{
    font-family: cursive;
    color: #475467;

}