.right-container{
    color: #FCFFFF;
    width:12rem;
    height: 8rem;
    padding-top: 2.5rem;
    border-radius: 11px;
}
.right-container .card {
    background-color: #1D204B;
    height: 100%;
    padding:0 1rem;
    border-radius: 11px;
    font-weight: lighter;
}
.right-container .card .header{
    display: flex;
    justify-content: space-between; 
    
}
.right-container h1{
    font-size: 2rem;
}
.right-container h3{
    color: #BEC1F3;
    font-size: 0.7rem;
}
.right-container .time{
    margin-top: -1.5rem;
}
.right-container .card .header h2{
    font-weight: lighter;
    font-size: 0.9rem;
}